App {
  max-width: 100%;
}

/* ---------------TEXT CONTROLS--------------- */

button {
  vertical-align: bottom;
  margin: 0 0.3125em;
  padding: 0 0.3125em;
  border: 1px solid #000;
  background-color: #fff;
  font-weight: bold;
}

button#increasetext {
  font-size: 1.5em;
}

button#resettext {
  font-size: 1.25em;
}

button#decreasetext {
  font-size: 1.125em;
}

.textcontrols {
  padding: 0.625em 0;
  background: #ccc;
}
/* content */

#content {
  margin: 3em 0;
  text-align: left;
}

/* demo container */

#container {
  width: 90%;
  margin: 0 auto;
  padding: 2%;
}

#description {
  margin-bottom: 1.25em;
  text-align: left;
}

@media all and (min-width: 700px) {
  #container {
    width: 700px;
  }
  button {
    margin: 0 0.625em;
    padding: 0 0.625em;
  }
}

body {
  background-color: rgba(0, 0, 255, 0.5);
  height: 100%;
  overflow: auto;
}
/* ------------------------header---------------------------------------- */

header {
  width: 100%;
  top: 0px;
  background-color: #ffb498;
  position: fixed;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 10px;
}

.buffer {
  width: 100%;
  height: 100px;
}

/* ----------------------login page---------------------------------------- */

#bold {
  font-weight: bold;
}

#light {
  font-weight: light;
}

#loginsignup {
  display: flex;
  justify-content: center;
}

/* #loginform {
  display: flex;
  justify-content: center;
  border: 2px solid black;
} */

#inputboxs {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.274);
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.inputbox {
  width: 100%;
  background-color: #ffb498;
  border: 1px solid #00000065;
  margin-bottom: 10px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.singlebutton {
  margin: 5px;
}

/* ----------------------Profile page---------------------------------------- */

#profile-add-friend-button-div {
  text-align: left;
}

.profile-add-friend-button {
  margin-left: 10px;
  border: none;
  background-color: #ffb498;
  border-radius: 5px;
  height: 3vh;
  width: 80px;
}

#profile-image-div {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 2px solid black;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-color: #ffb498;
}

#profile-image {
  max-height: 150px;
}

#profile-page {
  text-align: center;
}

#brief-user-data {
  border-bottom: 2px dashed black;
  max-width: 80%;
  margin: auto;
}

#brief-user-data h3 {
  margin-bottom: 0;
  text-align: left;
}

#profile-user-location {
  margin-top: 0;
}

.profile-user-location-div {
  text-align: left;
}

#profile-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#profile-teacher-stars {
  width: fit-content;
  margin: auto;
}

#profile-student-stars {
  width: fit-content;
  margin: auto;
}

#skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#teaching-skills {
  border-right: 1px solid black;
}

#teaching-skills-list {
  padding: 0;
}

#desired-skills-list {
  padding: 0;
}

#profile-send-message-button-div {
  margin-top: 15px;
}

.profile-send-message-button {
  width: 80%;
  height: 5vh;
  border-radius: 20px;
  border: none;
  background-color: #ffb498;
  font-weight: bold;
  margin-bottom: 10px;
}
.formcard {
  border: 2px solid black;
  height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: blanchedalmond;
  margin-bottom: 50px;
}
/* ----------------------Home page---------------------------------------- */
#home-search-form {
  margin-top: 30%;
}

.search-result-card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px dashed black;
  margin: 1%;
  border-radius: 10px;
  padding: 3%;
}

.profile-image {
  width: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
  justify-self: center;
}

.search-card-header {
  grid-column: 2 / 4;
}

.search-result-name {
  margin: 0px;
}

.search-result-location {
  margin: 0px;
}

.search-result-teaching-skills-header {
  grid-column: 2 / 3;
  margin: 0px;
  margin-top: 10%;
}

.search-result-teaching-skills {
  grid-row: 3 / 4;
  grid-column: 1 / 4;
}

.search-result-desired-skills-header {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  margin: 0px;
  margin-top: 10%;
}

.search-result-desired-skills {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
}

.search-view-more-button-link {
  grid-row: 6 / 7;
  grid-column: 3 / 4;
}
