App {
  max-width: 100%;
}

/* ---------------TEXT CONTROLS--------------- */

.textcontrols {
  padding: 0.625em 0;
  background: #ccc;
}
/* content */

#content {
  margin: 3em 0;
  text-align: left;
}

@media all and (min-width: 700px) {
  #container {
    width: 700px;
  }
  button {
    margin: 0 0.625em;
    padding: 0 0.625em;
  }
}

body {
  background-color: white;
  height: 100%;
  overflow: auto;
}
/* ------------------------header---------------------------------------- */

header {
  width: 100%;
  top: 0px;
  background-color: #ffb498;
  position: fixed;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 10px;
}

.buffer {
  width: 100%;
  height: 100px;
}

/* ----------------------login page---------------------------------------- */

#bold {
  font-weight: bold;
}

#light {
  font-weight: light;
}

#loginsignup {
  display: flex;
  justify-content: center;
}

/* #loginform {
  display: flex;
  justify-content: center;
  border: 2px solid black;
} */

#inputboxs {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.274);
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.inputbox {
  width: 100%;
  background-color: #ffb498;
  border: 1px solid #00000065;
  margin-bottom: 10px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.singlebutton {
  margin: 5px;
}

/* ----------------------Profile page---------------------------------------- */

#profile-add-friend-button-div {
  text-align: left;
}

.profile-add-friend-button {
  margin-left: 10px;
  border: none;
  background-color: #ffb498;
  border-radius: 5px;
  height: 3vh;
  width: 80px;
}

#profile-image-div {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  border: 2px solid black;
  margin: auto;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-color: #ffb498;
}

#profile-image {
  max-height: 150px;
}

#profile-page {
  text-align: center;
}

#brief-user-data {
  border-bottom: 2px dashed black;
  max-width: 80%;
  margin: auto;
}

#brief-user-data h3 {
  margin-bottom: 0;
  text-align: left;
}

#profile-user-location {
  margin-top: 0;
}

.profile-user-location-div {
  text-align: left;
}

#profile-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#profile-teacher-stars {
  width: fit-content;
  margin: auto;
}

#profile-student-stars {
  width: fit-content;
  margin: auto;
}

#skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#teaching-skills {
  border-right: 1px solid black;
}

#teaching-skills-list {
  padding: 0;
}

#desired-skills-list {
  padding: 0;
}

#profile-send-message-button-div {
  margin-top: 15px;
}

.profile-send-message-button {
  width: 80%;
  height: 5vh;
  border-radius: 20px;
  border: none;
  background-color: #ffb498;
  font-weight: bold;
  margin-bottom: 10px;
}
.formcard {
  flex-direction: column;
  border: 2px solid black;
  height: 270px;
  width: 80%;
  display: flex;
  border-radius: 20px;
  margin-bottom: 50px;
  margin: auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.338);
}

.innerForm {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110%;
}

.signUpInput {
  width: 95%;
  margin: 10px;
  display: flex;
  justify-content: center;
  height: 30px;
  font-size: larger;
  border-radius: 8px;
  background-color: #ffb498;
}

.signUpHeading {
  display: flex;
  justify-content: center;
}

.signUpForm {
  height: 110%;
  width: 90%;
}

.signUpButton {
  border-radius: 30px;
  width: 40%;
  margin: 10px;
  display: flex;
  justify-content: center;
  height: 40px;
  font-size: larger;
  background-color: #ffb498;
  flex-direction: column;
}

.bigA {
  font-weight: bold;
  font-size: 1.5em;
}

.smallA {
  font-weight: bold;
  font-size: 1.5em;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  width: 100%;
}
